* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contact {
  margin-top: 10px;
  margin-bottom: 60px;
}
/* 
.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
/* Navbar */

.bg-dark {
  /* color: #161515; */
  color: #fff;
}

.logo {
  width: 25%;
}

.nav-theme {
  background-color: #161515;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

.typewriter {
  font-size: 24px;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

/* Jumbotron */
h1 {
  /* text-align: center; */
  color: white;
}


h3 {
  /* text-align: center; */
  color: rgb(199, 199, 199);
}

.hub {
  height: 100vh;
}

/* About */
.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile {
  max-width: 18em;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}

.card {
  border-color: #ffffff;
  background-color: none;
}